{
  "dns": {
    "servers": [
      { "tag": "cf-dns", "type": "https", "server": "1.1.1.1" },
      { "tag": "google-dns-udp", "type": "udp", "server": "8.8.8.8" },
      { "tag": "google-dns-tcp", "type": "tcp", "server": "8.8.8.8" },
      { "tag": "ali-dns", "type": "udp", "server": "223.5.5.5" },
      { "tag": "local-dns", "type": "local" },
      { "tag": "block-dns", "type": "fakeip", "inet4_range": "198.18.0.0/15" }
    ],
    "rules": [
{%- if docker_apps_singbox_block_ads | default(true) %}
      { "rule_set": "geosite-category-ads-all", "server": "block-dns" },
{%- endif %}
      { "rule_set": ["geosite-cn"], "server": "local-dns" },
      {
        "domain_suffix": [
          "aws.amazon.com",
          "www.cloudflare.com"
        ],
        "server": "google-dns-udp"
      }{%- if docker_apps_singbox_warp_enabled | default(false) | bool -%},
      {
        "rule_set": [
          "geosite-openai",
          "geosite-anthropic",
          "geosite-google"
        ],
        "server": "google-dns-tcp",
        "strategy": "ipv4_only"
      }{%- endif %}
    ],
    "final": "google-dns-tcp",
    "strategy": "prefer_ipv4",
    "cache_capacity": 2048,
    "independent_cache": true
  }
}
