REACT_APP_SHOW_BALANCE={{ docker_apps_neko_key_tool_show_balance | string | lower }}
REACT_APP_SHOW_DETAIL={{ docker_apps_neko_key_tool_show_detail | string | lower }}
REACT_APP_SHOW_ICONGITHUB={{ docker_apps_neko_key_tool_show_icongithub | string | lower }}
REACT_APP_BASE_URL='{{ docker_apps_neko_key_tool_base_url }}'
