{
  "version": 1,
  "profiles": {
    "zai:default": {
      "type": "api_key",
      "provider": "zai",
      "key": "{{ openclaw_zai_api_key }}"
    },
    "google:default": {
      "type": "api_key",
      "provider": "google",
      "key": "{{ openclaw_gemini_api_key }}"
    },
    "openrouter:default": {
      "type": "api_key",
      "provider": "openrouter",
      "key": "{{ openclaw_openrouter_api_key }}"
    }
  },
  "lastGood": {
    "google": "google:default",
    "zai": "zai:default",
    "openrouter": "openrouter:default"
  },
  "usageStats": {
    "zai:default": {
      "lastUsed": 1772024412573,
      "errorCount": 2,
      "failureCounts": {
        "rate_limit": 2
      },
      "lastFailureAt": 1772093841855,
      "cooldownUntil": 1772094141855
    }
  }
}
