MIHOMO_PROFILE_URL={{ mihomo_native_profile_url | quote }}
MIHOMO_PROFILE_PATH={{ mihomo_native_profile_path | quote }}
MIHOMO_BINARY_PATH={{ mihomo_native_binary_path | quote }}
MIHOMO_HOME={{ mihomo_native_install_dir | quote }}
MIHOMO_SERVICE_NAME={{ mihomo_native_service_name | quote }}
MIHOMO_DOWNLOAD_PROXY={{ mihomo_native_profile_download_proxy | quote }}
MIHOMO_FETCH_TIMEOUT={{ mihomo_native_profile_fetch_timeout_seconds | int | quote }}
