{
  "endpoints": [
    {
      "type": "wireguard",
      "tag": "wg-{{ singbox_wireguard_peer_tag | default('hub') }}",
      "name": "{{ singbox_wireguard_interface | default('wg0') }}",
      "address": [
        "{{ singbox_wireguard_address }}"
      ],
      "private_key": "{{ singbox_wireguard_private_key }}",
      "system": {{ singbox_wireguard_system | default(false) | lower }},
      "peers": [
        {
          "address": "{{ singbox_wireguard_server }}",
          "port": {{ singbox_wireguard_server_port | default(30059) }},
          "public_key": "{{ singbox_wireguard_peer_public_key }}",
          "allowed_ips": {{ singbox_wireguard_allowed_ips | default(['10.144.10.0/24']) | to_json }},
          "persistent_keepalive_interval": {{ singbox_wireguard_keepalive | default(25) }}
        }
      ]
    }
  ]{% if (singbox_wireguard_system | default(false) | bool) and (singbox_wireguard_http_inbound | default(false) | bool) %},
  "inbounds": [
    {
      "type": "http",
      "tag": "sub-in-wg",
      "listen": "{{ singbox_wireguard_address.split('/')[0] }}",
      "listen_port": {{ singbox_wireguard_http_port | default(10080) }}
    }
  ]
{% endif %}
}
