dns:
  enable: true
  ipv6: false
  enhanced-mode: fake-ip
  fake-ip-range: "{{ sub_store_capability_fake_ip_range }}"
  fake-ip-filter-mode: blacklist
  respect-rules: true
  default-nameserver:
    - 223.5.5.5
    - 119.29.29.29
  nameserver:
    - 223.5.5.5
    - 119.29.29.29
    - https://dns.alidns.com/dns-query
    - https://doh.pub/dns-query
  direct-nameserver:
    - 223.5.5.5
    - 119.29.29.29
  proxy-server-nameserver:
    - 223.5.5.5
    - 119.29.29.29
  nameserver-policy:
    "geosite:geolocation-!cn":
      - "https://1.1.1.1/dns-query#🚀 默认代理"
      - "https://8.8.8.8/dns-query#🚀 默认代理"
    "+.stun.*":
      - 223.5.5.5
      - 119.29.29.29
    "geosite:cn,private":
      - https://dns.alidns.com/dns-query
      - https://doh.pub/dns-query
    "+.argotunnel.com,+.cftunnel.com{% if singbox_domain %},{{ singbox_domain }}{% endif %}{% for domain in sub_store_capability_private_fake_ip_filter | default([]) %},{{ domain }}{% endfor %}":
      - https://dns.alidns.com/dns-query
      - https://doh.pub/dns-query
  fake-ip-filter:
    - "geosite:cn"
    - +.argotunnel.com
    - +.cftunnel.com
    - +.163.com
    - +.netease.com
    - +.uuremote.com
    - "+.stun.*"
    - "{{ singbox_domain }}"
{% for domain in sub_store_capability_user_fake_ip_filter | default([]) %}
    - "{{ domain }}"
{% endfor %}
{% for domain in sub_store_capability_private_fake_ip_filter | default([]) %}
    - "{{ domain }}"
{% endfor %}
