tun:
  enable: true
  stack: mixed
  auto-route: true
  auto-detect-interface: true
  strict-route: true
  route-exclude-address:
    - 10.0.0.0/8
    - 172.16.0.0/12
    - 192.168.0.0/16
    - 169.254.0.0/16
    - 224.0.0.0/4
    - 60.188.233.97/32
    - 124.160.141.98/32
    - 183.3.205.13/32
{% for address in sub_store_capability_private_tun_route_exclude_address | default([]) %}
    - "{{ address }}"
{% endfor %}
