[onedrive]
type = onedrive
token = {{ rclone_onedrive_token }}
drive_id = {{ rclone_onedrive_drive_id }}
drive_type = personal

[gdrive]
type = drive
scope = drive
token = {{ rclone_gdrive_token }}
use_trash = false
{% if rclone_gdrive_client_id | default('') | length > 0 %}
client_id = {{ rclone_gdrive_client_id }}
{% endif %}
{% if rclone_gdrive_client_secret | default('') | length > 0 %}
client_secret = {{ rclone_gdrive_client_secret }}
{% endif %}
# Include user-defined configuration snippets when configured.
{% if rclone_include_user_configs | default(true) %}
{% if ansible_system == 'Darwin' %}
[include]
  path = {{ rclone_darwin_user_config_dir }}/*.conf
{% else %}
[include]
  path = {{ rclone_user_config_dir | default('/root/.config/rclone/rclone.conf.d') }}/*.conf
{% endif %}
{% endif %}
