{
  "email": "{{ ip2free_email }}",
  "password": "{{ ip2free_password }}",
  "proxy_source": "{{ ip2free_proxy_source }}",
  "auto_claim": {{ ip2free_auto_claim | lower }},
  "singbox_sub_path": "{{ singbox_sub_path }}.json",
  "health_timeout": {{ ip2free_health_timeout }},
  "max_nodes": {{ ip2free_max_nodes }}
}
